@font-face {
  font-family: 'Whitney';
  src: url('/Whitney.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('/Whitney-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

:root {
  --header: #3b3d42;
  --background: #2c2f33;
  --dark-background: #23272a;
  --blurple: #5865F2;
  --white: #ffffff;
  --quote: #4f545c;

  height: 100%;
}

body, html {
  height: 100%;
}

body {
  background-color: var(--background);
  font-family: 'Whitney', 'Segoe UI', sans-serif;
  margin: 0;
  color: var(--white);
}

button {
  font-family: 'Whitney', 'Segoe UI', sans-serif;
  font-size: 1em;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
  border: 0;
}

a {
  color: var(--white);
  text-decoration: underline;
  text-decoration-color: var(--blurple);
}

b {
  color: var(--blurple);
}

h1 {
  display: flex;
}

h2 {
  font-size: 20px;
  margin: 0;
  font-weight: normal;
}

h3 {
  font-size: 15px;
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0
}

.dr-header{
  height: 50px;
  background-color: var(--header);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.dr-footer{
  height: 50px;
  background-color: var(--header);
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dr-footer button {
  margin: 5px;
  height: 30px;
  min-width: 70px;
  border-radius: 5px;
  background-color: var(--background);
  color: var(--white);
  border: none;
  text-align: center;
}
.dr-footer button:active {
  background-color: var(--blurple);
}

.dr-content-wrapper {
  background-color: var(--background);
  margin: auto;
  width: 90%;
  min-height: calc(100% - 140px);
}

#dr-share-wrapper {
  height: 0;
  overflow: hidden;
}

#dr-share-content {
  width: 1100px;
  background-color: var(--background);
}
#dr-share-content button, #dr-share-content .dr-toplist-header-tooltip {
  display: none;
}

.dr-row {
  width: 100%;
  border-bottom: 3px solid var(--dark-background);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dr-tile {
  background-color: var(--dark-background);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.dr-flex-1 {
  flex: 1 1 100px;
}
.dr-flex-2 {
  flex: 2 2 200px;
}
.dr-flex-3 {
  flex: 3 3 300px;
}
.dr-flex-4 {
  flex: 4 4 400px;
}

.dr-datafield {
  margin-bottom: 15px;
  display: flex;
}
.dr-datafield-icon {
  flex: 0 0 24px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.dr-firstmessage-content {
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 4px solid var(--quote);
  padding-left: 10px;
}

.dr-toplist-item {
  padding: 5px;
  border-bottom: 1px solid var(--quote);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.dr-toplist-item:nth-child(even) {
  background-color: var(--background);
}
.dr-toplist-expandable .dr-toplist-item:nth-child(even) {
  background-color: var(--dark-background);
}
.dr-toplist-expandable .dr-toplist-item:nth-child(odd) {
  background-color: var(--background);
}
.dr-toplist-item-name {
  line-height: 1.2em;
}
.dr-toplist-name-wrapper {
  display: flex;
  flex: 5;
}
.dr-toplist-number {
  flex: 0 0 60px;
}
.dr-toplist-header {
  display: flex;
}
.dr-toplist-header-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dr-messagecharts-controls {
  display: flex;
  justify-content: center;
}
.dr-messagecharts-button {
  margin: 5px;
  height: 30px;
  min-width: 70px;
  border-radius: 5px;
  background-color: var(--header);
  color: var(--white);
  border: none;
  text-align: center;
}
.dr-messagecharts-button:active {
  background-color: var(--blurple);
}
.dr-messagecharts-button-active {
  background-color: var(--blurple);
}

.dr-accordion-content {
  /* default max height that's unlikely to be reached */
  max-height: 2000px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.dr-accordion-content-closed {
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}
.dr-accordion-toggle {
  margin: 5px;
  height: 30px;
  min-width: 70px;
  border-radius: 5px;
  background-color: var(--header);
  color: var(--white);
  border: none;
  text-align: center;
}
.dr-accordion-toggle:active {
  background-color: var(--blurple);
}
.dr-accordion-actions {
  display: flex;
  justify-content: center;
}

.dr-emote {
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}
.dr-emote-emoji {
  font-size: 18px;
}

.dr-usertile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dr-sectionlink {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dr-sectionlink-icon {
  font-size: 30px;
  flex: 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.dr-landing-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100% - 55px);
  overflow-y: auto;
}
.dr-landing-tile {
  background-color: var(--background);
  padding: 10px;
  margin: 10px;
  margin-top: 70px;
  border-radius: 10px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dr-landing-button {
  margin: 5px;
  min-height: 35px;
  min-width: 70px;
  border-radius: 5px;
  background-color: var(--header);
  color: var(--white);
  border: none;
  text-align: center;
}
.dr-landing-button:active {
  background-color: var(--blurple);
}
.dr-landing-text {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.dr-landing-instruction {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}
.dr-landing-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dr-landing-loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
}
.dr-landing-loading-icon {
  margin-left: 10px;
}
.dr-landing-loading-icon svg {
  animation: dr-loading-icon 1.2s linear infinite;
  font-size: 30px
}
@keyframes dr-loading-icon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dr-landing-footer {
  margin-top: 15px;
  height: 40px;
  background: var(--dark-background);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dr-landing-paragraph {
  text-align: center;
}

.dr-breadcrumb-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}
.dr-breadcrumb {
  margin-left: 20px;
}

.dr-yearselect-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}
#dr-yearselect {
  margin-right: 20px;
  margin-left: 5px;
  background-color: var(--quote);
  color: var(--white);
  border: 0;
  border-radius: 5px;
  min-width: 70px;
  min-height: 26px;
  font-size: 15px;
}
#dr-yearselect:focus-visible {
  outline: none;
}

@media only screen and (max-width: 500px) {
  .dr-breadcrumb-wrapper {
    font-size: 16px;
  }
  .dr-yearselect-wrapper span {
    display: none;
  }
}

.dr-tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}
.dr-tooltip svg path {
  stroke: var(--white);
}
.dr-tooltip .dr-tooltip-text {
  visibility: hidden;
  width: 150px;
  font-size: 15px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;

  position: absolute;
  z-index: 1;
}
.dr-tooltip:hover .dr-tooltip-text {
  visibility: visible;
}
.dr-tooltip .dr-tooltip-right {
  left: 105%;
}
.dr-tooltip .dr-tooltip-left {
  right: 105%;
}

.dr-connections-item {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}
